.DS_Store

# PyCharm
.idea/**
eeg_preprocessing/.idea/**

# R
.Rhistory
.r_scripts/.Rhistory

# cache
__pycache__/
*.pyc

# doit
.doit*
system_check.txt

# other files
/00_debug.py
/validator.json
/99_snippeds.py
